.TitleFormFooter
  text-transform uppercase
.Footer-container
  background-color #1c3643
  color white
  padding 3em 0
.Footer-container .navbar-link
  color white
.Footer-container .navbar-link:hover
  color #363636
@media (max-width: 991px){
    .Form-footer{
      text-align center
    }
    .Footer-nav{
      margin-top 2em
      text-align center

    }
}
