.breadcrumbs-container .breadcrumb
  background-color white
.breadcrumbs-container .breadcrumb a
  color #1c3643
.breadcrumb>li+li:before
  content ">"
.breadcrumb
  margin-bottom 0
.Filtros-container .list-group-item.active
  border-color #99c84a
.Filtros-container .list-group-item.active:hover
  border-color #99c84a
