.AlignItems-form
  display flex

.btn.Btn-adsi
  background-color #99c84a
  color white
.btn.Btn-adsi:hover
  background-color #8ab542
.Header-container, .InfoContainer
  background-color #99c84a
  color white

.Header-container .Login
  color white
  font-weight bold
  font-size 20px
  text-transform uppercase

.Header-container .navbar-toggle
  color white
  font-weight bold
  font-size 25px

.Header-containerAlignv
  display flex
  align-items center

.Header-containerAlignv > div > h1
  margin-top 0
  margin-bottom 0

.IconSearch
  font-size 20px


input.form-control:focus
  border-color #8ab542
a.active
  background-color #99c84a !important
  color white
a.active:focus
  background-color inherit

.NavbarMargin-container
  margin-right 0
  display flex
  align-items center
  flex-flow row wrap
  margin-bottom 0
.navbar-margin
  margin-bottom 0

.NavbarMargin-container > div
  display flex
  justify-content center

.navbar-nav > li > a
  color #363636
  margin .5em .5em


.Menu-container
  background-color #f7f7f9

@media (max-width: 767px){
  .SearchForm{
    margin top .5em
    margin bottom 0.5em
  }
}
